services:
  studio:
    image: specmatic/specmatic-studio:latest
    container_name: studio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
      - "9090:9090"
    volumes:
      - ./specs:/usr/src/app
    environment:
      STUDIO_MAX_TEST_COUNT: 1000
      KAFKA_PROPERTIES: |
        advertised.listeners=PLAINTEXT://studio:9092
        listeners=PLAINTEXT://0.0.0.0:9092
        listener.security.protocol.map=PLAINTEXT:PLAINTEXT
        inter.broker.listener.name=PLAINTEXT

  order-bff:
    image: specmatic/specmatic-order-bff-java:latest
    container_name: order-bff
    ports:
      - "8080:8080"
    environment:
      ORDER_API_URL: http://order-api:8090
      KAFKA_BOOTSTRAP_SERVERS: "studio:9092"
      CORS_ORIGINS: http://localhost:3000

  order-api:
    image: specmatic/specmatic-order-api-java:latest
    container_name: order-api
    environment:
      INVENTORY_API_URL: http://inventory-api:8095/ws

  inventory-api:
    image: specmatic/specmatic-inventory-api-wsdl-java:latest
    container_name: inventory-api
    ports:
      - "8095:8095"